/* :root {
    --main-color: white;
    --contrast-color: #78CAE9;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
    height: 100%;
    width: 90px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--contrast-color);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar.icon {
    stroke-width: 5;
    stroke: var(--main-color)
}

.sidebar.icon.highlighted {
    stroke: var(--contrast-color);
    box-shadow: 0px 0px 4px 15px var(--main-color);
} */